/* ------------------------- || LOGIN MAIN ----------------------- */
.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 89.8vh;
}

/* ------------------ || FORM CONTAINER ------------------ */
.form-container {
  padding: 1.5rem 3rem;
  align-items: center;
}
.login-header,
.form-btn {
  margin-bottom: 1.5rem;
}
.login-header,
.signup-link {
  text-align: center;
}
.form-invalid-message {
  font-size: small;
}
.form-link {
  text-decoration: none;
  margin-left: 2rem;
}
.form-error-message {
  text-align: center;
  padding: 0.5rem;
  color: var(--invalid-color);
}

