/* ------------ || NAVBAR ---------------- */
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.brand-name {
  margin: 0.5rem 0;
}

.brand-first-name {
  color: var(--brand-color);
}

.search-addon {
  position: relative;
  top: 0;
  margin: 0 0.5rem;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  top: 0.95rem;
  cursor: pointer;
}

.search-input {
  padding: 0.4rem 2rem;
  border-radius: 0.3rem;
  border: 0;
  outline: transparent;
  background-color: var(--component-bg-color);
  margin: 0.5rem 0;
}

.search-input.dark {
  background-color: rgb(66, 66, 66);
}

.badge-symbol {
  font-size: 1.5rem;
}


