/* --------------------------- || CATEGORY SECTION ----------------- */
.category-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}
.category-section .card-vertical {
  min-width: 14rem;
}
.card-overlay-details {
  background-color: var(--card-overlay-bg-color);
}

/* || MEDIA QUERIES */
@media screen and (max-width: 1000px) {
  .category-section .card-vertical {
    min-width: 10rem;
  }
  .category-section {
    gap: 0;
  }
}


