/* ----------------------------- || BANNER SECTION -------------------- */
.banner-section {
  box-shadow: 2px -2px 5px 0 var(--banner-bg-color);
  width: 100%;
  margin: 1.5rem auto;
}
.banner-img {
  width: 100%;
  object-fit: contain;
}

/* --------------------- || ARTICLE SECTION ------------------- */
.article-section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.article {
  box-shadow: -2px -2px 5px 0 var(--banner-bg-color);
  display: flex;
  padding: 3rem 2.5rem;
  max-width: 620px;
}
.article-img {
  border-radius: 0.2rem;
  max-width: 12rem;
  height: auto;
}
.article-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
}
.article-header {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .article-section {
    flex-wrap: wrap;
  }
  .article {
    padding: 1rem;
  }
  .article-details {
    padding-left: 1rem;
  }
}
