/* || PRODUCT CARD */
.card {
  min-width: 17rem;
}
.card-price-section {
  align-items: center;
}
.card-badge {
  color: var(--card-overlay-color);
}
.red-bg {
  background-color: var(--asterisk-color);
}
.yellow-bg {
  background-color: var(--outline-info-border-color);
}
.green-bg {
  background-color: var(--card-discount-color);
}

/* || CARD VERTICAL */
.products-layout .card-img, .private-component .card-img {
  min-height: 23rem;
}

