.main,.products-section,.login-main,.signup-main {
  background-color: var(--component-bg-color);
}

.card,
.form-container {
  background-color: var(--container-bg-color);
}

.error-message {
  color: var(--asterisk-color);
}

a {
  text-decoration: none;
  color: var(--badge-status-bg);
}

/* THEME CHANGES */
.dark, .dark a {
  color: var(--nav-title-color);
  background-color: var(--dark-mode-color);
}

@media screen and (max-width: 500px) {
  * {
    font-size: 0.85rem;
  }
}

